# frontend
frontend/node_modules
frontend/.next
frontend/out

# backend
backend/target
backend/.gradle
backend/build

# common
.idea
.vscode
*.log
.DS_Store

# Gradle
.gradle/
**/.gradle/
**/.gradle-user-home/
**/.gradle-user-home-2/
**/build/
**/out/

# Node
node_modules/
dist/
build/

# Logs / temp
*.log
*.tmp
*.lock
*.bin

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Gradle cache
backend/.gradle-user-home/
backend/.gradle-user-home-2/
**/.gradle/
**/build/

